@import '@fontsource/fira-mono';

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg: rgb(36, 55, 70);
	--color-bg-darker: rgb(25, 38, 49);
	--color-theme-1: rgb(87, 215, 255);
	--color-text: rgb(255, 255, 255);
	--column-width: 48rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg);
	background-size: 100vw 100vh;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 0.6;
}

h1, h2, h3 { margin: 0; }

@media (max-width: 720px) {
	h1 { font-size: 1.5625rem; } /* 25pt */
	h2 { font-size: 1.1875rem; } /* 19pt */
	h3 { font-size: 1.0625rem; } /* 17pt */
}
@media (min-width: 721px) {
	h1 { font-size: 1.7500rem; } /* 28pt */
	h2 { font-size: 1.3750rem; } /* 22pt */
	h3 { font-size: 1.2500rem; } /* 20pt */
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

pre, kbd {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: var(--color-bg-darker);
	border-radius: 3px;
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: var(--column-width);
	flex: 0.6;
	flex-direction: column;
	margin: 0 auto;
}

input {
	background-color: var(--color-bg-darker);
	color: var(--color-text);
}

input:focus {
	/* TODO Start here */
	outline-color: var(--color-theme-1);
	border-radius: 5px;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

/** Sverdle styles */

:root {
	--color-theme-2: #4075a6;
	--color-theme-3: #c8ad15;
	--color-theme-4: rgba(0, 0, 0, 0.5);
	--color-theme-5: 'white';
}

.letter {
	aspect-ratio: 1;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	box-sizing: border-box;
	text-transform: lowercase;
	border: none;
	font-size: calc(0.08 * var(--width));
	border-radius: 2px;
	background: white;
	margin: 0;
	color: rgba(0, 0, 0, 0.7);
}

.missing {
	background: var(--color-theme-4);
	color: var(--color-theme-5);
}

.exact {
	background: var(--color-theme-2);
	color: var(--color-theme-5);
}

.close {
	background: var(--color-theme-3);
	color: var(--color-theme-5);
}